body {
    background-color: #131313;
    margin: 0px;
    overflow: hidden;
}

.tooltip {
    position: absolute;
    background-color: #1f1f1f;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
    pointer-events: none;
    transition: opacity 0.3s;
}
