@* @{
    ViewData["Title"] = "Home Page";
} *@
<div class="p-5 text-center bg-dark" style="
    height: 400px;
  ">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
            <h2 class="mb-3">Създавай интерактивни географски карти с минимални усилия</h2>
        </div>
    </div>
</div>
</div>
<div class="text-center">
</div>