@using MapLab.Web.Models.Shared

<partial name="_HeroCarouselPartial" />
<div class="container card-container mt-n5">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <div class="card-icon mb-3">
                        <img src="path/to/icon1.png" alt="Icon 1" class="img-fluid">
                    </div>
                    <h3 class="card-title">Card Title 1</h3>
                    <p class="card-text">Card description 1.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <div class="card-icon mb-3">
                        <img src="path/to/icon2.png" alt="Icon 2" class="img-fluid">
                    </div>
                    <h3 class="card-title">Card Title 2</h3>
                    <p class="card-text">Card description 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <div class="card-icon mb-3">
                        <img src="path/to/icon3.png" alt="Icon 3" class="img-fluid">
                    </div>
                    <h3 class="card-title">Card Title 3</h3>
                    <p class="card-text">Card description 3.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-4">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
