@using MapLab.Web.Models.Shared

<div class="p-5 text-center bg-dark" style="height: 400px;">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h2 class="mb-3">Създавай интерактивни географски карти с минимални усилия</h2>
                <a>Honda Jazz 1.2i-VTEC 2012 Facelift</a>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
