@model MapLab.Web.Models.Shared.ModalViewModel
@inject MapLab.Services.Contracts.IMapService _mapService
@{
    Layout = "_ModalPartial.cshtml";
}
<div>
    <component type="typeof(ChooseTemplate)" render-mode="Server" />
</div>
