@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown position-relative">
        <button class="btn btn-outline-primary rounded-circle"
                id="profile-dropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            <i class="bi bi-person-fill fs-5"></i>
        </button>
        <div class="dropdown-menu position-absolute dropdown-menu-end" aria-labelledby="profile-dropdown">
            <a class="dropdown-item"
                asp-area="Identity"
                asp-page="/Account/Manage/Index">
                View Profile
            </a>
            <a class="dropdown-item" href="#">Settings</a>
            <form asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
                  method="post">
                <button class="dropdown-item" type="submit">Logout</button>
            </form>
        </div>
    </div>
}
else
{
    <a class="btn btn-outline-primary rounded-circle"
       asp-area="Identity"
       asp-page="/Account/Login">
        <i class="bi bi-person-fill-add fs-5"></i>
    </a>
}