@using System.Globalization
@{
    string pageTitle = (!string.IsNullOrEmpty(ViewData["Title"] as string) ? $"{ViewData["Title"]} - " : string.Empty) + "MapLab";
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@pageTitle</title>
    <link rel="icon" type="image/x-icon" href="~/images/logo/logo32.png" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/fonts/Exo2-Regular.ttf" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/lib/aos/aos.css" />
    @RenderSection("Styles", false)
</head>
<body>
    @RenderBody()
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <base href="~/" />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>