@{
    Layout = "_LayoutShared";
}

<header>
    <nav class="navbar sticky-top glassy-navbar">
        <div class="container">
            <a class="navbar-brand d-flex align-items-baseline gap-2" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo/logo256.png" alt="MapLab Logo" class="navbar-logo" />
            </a>
            <div class="ms-auto d-flex align-items-center">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>
@RenderBody()