@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    ViewData["UseViewportContainer"] = true;
}

<div class="error-page h-100">
    <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-end justify-content-center">
            <img src="~/images/home/ruslan1.png"
                 class="error-illustration"
                 alt="Error illustration" />
        </div>
        <div class="col-12 col-md-6 error-details d-flex flex-column justify-content-center">
            <div class="container py-5 ps-0 position-relative">
                <div class="error-background-text">
                    ERROR
                </div>
                <div class="mb-4">
                    <h1 class="display-3 mb-3">Well, this wasn't supposed to happen...</h1>
                    <p class="fs-4 text-muted">Error Code: <code>@Model.StatusCode</code></p>
                    @if (Model.ShowRequestId)
                    {
                        <p class="fs-4 text-muted">
                            Request ID: <code id="requestId">@Model.RequestId</code>
                        </p>
                    }
                </div>
                <p class="fs-4 mb-4">
                    An unexpected error occurred on our end. We have been notified about it, and will work to fix it as soon as possible. Once resolved, you can continue from where you left off on the map.
                </p>
                <div class="d-flex gap-3">
                    <a href="/"
                       class="btn btn-primary btn-lg rounded-pill">
                        <i class="bi bi-house me-2"></i>Return to Home
                    </a>
                    <button type="button"
                            class="btn btn-outline-light btn-lg rounded-pill"
                            onclick="window.history.back();">
                        <i class="bi bi-arrow-left me-2"></i>Go Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .error-page {
        display: flex;
    }

    .error-background-text {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 18rem;
        font-weight: bold;
        z-index: -1;
        user-select: none;
        opacity: 0.2 !important;
        line-height: 1;
        color: red;
        transform: translate(-50%, -50%);
        font-size: clamp(4rem, 15vw, 18rem);
    }

    .error-illustration {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    .error-details {
        position: relative;
        padding: 2rem;
    }
</style>
