<Modal>
    <ModalStep>
        <h5>Step 1: Enter Name</h5>
        <input type="text" class="form-control" placeholder="Your Name" />
    </ModalStep>

    <ModalStep>
        <h5>Step 2: Enter Email</h5>
        <input type="email" class="form-control" placeholder="Your Email" />
    </ModalStep>

    <ModalStep>
        <h5>Step 3: Confirm Details</h5>
        <p>Please confirm your information.</p>
    </ModalStep>
</Modal>
