@inject IJSRuntime JS

@code {
    private int stepsCount = 0;

    public int CurrentStep { get; set; } = 0;

    public int RegisterStep()
    {
        return stepsCount++;
    }

    private void NextStep()
    {
        if (CurrentStep < stepsCount - 1)
            CurrentStep++;
    }

    private void PrevStep()
    {
        if (CurrentStep > 0)
            CurrentStep--;
    }

    private async Task CloseModal()
    {
        await JS.InvokeVoidAsync("$('#multiStepModal').modal", "hide");
    }
}

<div class="modal fade" id="multiStepModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Step @(CurrentStep + 1)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <CascadingValue Value="this">
                    @ChildContent
                </CascadingValue>
            </div>
            <div class="modal-footer justify-content-center">
                @if (CurrentStep == 0)
                {
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                }
                else
                {
                    <button type="button" class="btn btn-secondary" @onclick="PrevStep">Back</button>
                }

                @if (CurrentStep == stepsCount - 1)
                {
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Finish</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" @onclick="NextStep">Next</button>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}
