@code {
    private int? stepIndex;

    [CascadingParameter] private Modal? ParentModal { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public string? Title { get; set; }

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(Title))
            Title = $"Step {stepIndex + 1}";

        stepIndex = ParentModal?.RegisterStep(this);
    }
}

<div class="@($"modal-step {(stepIndex == ParentModal?.CurrentStep ? "active" : string.Empty)}".Trim())">
    @ChildContent
</div>
