@code {
    private int? stepIndex;

    [CascadingParameter] private Modal? ParentModal { get; set; }

    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public bool IsCurrentStep { get; set; }

    protected override void OnInitialized()
    {
        stepIndex = ParentModal?.RegisterStep();
    }
}

<div class="modal-step@(stepIndex == ParentModal?.CurrentStep ? " active" : null)">
    @ChildContent
</div>
