@using MapLab.Web.Models.Templates

<div class="d-flex">
    <input type="text" class="form-control rounded-pill pl-5" @oninput="OnNameChanged" placeholder="Name"/>
    <h3>Map: @Name</h3>
    <h3>Selected Map Template: @SelectedMapTemplate?.Name</h3>
</div>

@code {
    [Parameter] public MapTemplateViewModel? SelectedMapTemplate { get; set; }

    [Parameter] public string? Name { get; set; }

    [Parameter] public EventCallback<string>? NameChanged { get; set; }

    private async Task OnNameChanged(ChangeEventArgs e)
    {
        await NameChanged?.InvokeAsync(e.Value.ToString());
    }
}
