@using MapLab.Web.Models.News
@model NewsArticleViewModel
@{
    ViewData["Title"] = Model.Title;
    Layout = "_ContentLayout";
}

<div class="container py-5">
    <h1>@Model.Title</h1>
    @Html.Raw(Model.Content)
</div>
