@using MapLab.Data.Entities
@using Microsoft.AspNetCore.Components.Forms
@inject MapLab.Services.Contracts.IMapService _mapService

<input type="text" class="rounded-pill" @oninput="OnSearch" placeholder="Search" />

<h1>Map Templates</h1>
<ul>
    @foreach (var template in templates)
    {
        <li>@template.Name</li>
    }
</ul>
<button @onclick="OnClick">CLICK ME</button>
<div>@RandomValue</div>

@code {
    private string searchQuery = string.Empty;
    private List<MapTemplate> templates = new();

    public string RandomValue { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine("On Initialized!");
        templates = _mapService.GetAllMapTemplates().ToList();
    }

    private void OnSearch(ChangeEventArgs e)
    {
        Console.WriteLine("Search triggered with query");
        templates = _mapService.GetMapTemplates(e.Value.ToString()).ToList();
        StateHasChanged();
    }

    private void OnClick()
    {
        Console.WriteLine("Button Clicked!");
        RandomValue = Guid.NewGuid().ToString();
        StateHasChanged();
    }
}
