<div class="sidebar bg-dark d-flex flex-column flex-shrink-0 p-3 h-100" id="sidebar">
    <span class="fs-4 mb-2 mb-3 text-light text-center text-decoration-none">Admin Panel</span>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <i class="bi bi-house-door me-2"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link">
                <i class="bi bi-map me-2"></i>
                <span>Maps</span>
            </a>
        </li>   
        <li>
            <a class="nav-link"
               asp-controller="MapTemplates"
               asp-action="Index">
                <i class="bi bi-pin-map me-2"></i>
                <span>Map Templates</span>
            </a>
        </li>
        <li>
            <a class="nav-link"
               asp-area="Admin"
               asp-controller="News"
               asp-action="Index">
                <i class="bi bi-newspaper me-2"></i>
                <span>News</span>
            </a>
        </li>
    </ul>
    <hr>
    <a class="btn btn-outline-light mb-3">
        <i class="bi bi-list"></i>
        <span>Back to Profile</span>
    </a>
</div>