html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Exo 2", sans-serif;
  margin-bottom: 60px;
  overflow-x: hidden;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

/*#region Positioning classes*/
    .position-relative {
        position: relative;
    }
/*#endregion RegionName*/

.hover {
    display: none;
}

.selectable-card:hover .hover {
    display: flex;
}

.navbar {
    background-color: transparent !important;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-logo {
    max-height: 48px;
    width: auto;
}

.card a {
    text-decoration: none;
}

.selectable-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.selectable-card:hover {
    transform: scale(1.1);
}

.selectable-card.selected {
    box-shadow: inset 0 0 0 4px var(--bs-primary);
}

.modal-dialog {
    max-width: 80vw;
    width: auto;
    height: 80vh;
}

.modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal-body {
    overflow-y: auto;
    flex-grow: 1;
    height: 100vh;
}

.modal-step {
    display: none;
}

.modal-step.active {
    display: block;
}

.sidebar {
    width: 280px;
    background-color: #343a40;
    color: white;
    transition: width 0.3s;
}

.sidebar .nav-link {
    color: #adb5bd;
}

.sidebar .nav-link.active, .sidebar .nav-link:hover {
    color: white;
    background-color: #495057;
}

.sidebar.small {
    width: 80px;
}

.sidebar.small .nav-link span {
    display: none;
}

.sidebar.small .dropdown strong {
    display: none;
}

a img.profile-picture,
button img.profile-picture {
    transition: all 0.2s ease-in-out;
}

a img.profile-picture:hover,
button img.profile-picture:hover {
    filter: brightness(50%);
}

.search-bar .icon-container {
    left: 29px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.search-bar .form-control {
    padding-left: 3rem;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.nav-link::before {
    backface-visibility: hidden;
    border: 1.5px solid transparent;
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0px auto;
    position: relative;
    transition: 0.4s ease-in-out;
    width: 0px;
}

.nav-link:hover::before {
    backface-visibility: hidden;
    transition: width 0.5s ease-in-out;
    width: 70%;
    bottom: auto;
    top: 0px;
    width: 70%;
}

.nav-link {
    color: rgb(254, 174, 0);
}

.nav-link:hover::before {
    border-color: rgb(254, 174, 0);
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #6c757d;
}

.card-wrapper {
    margin: -15px -25px;
}

.card-wrapper ul {
    padding: 15px;
}