@using MapLab.Services.Contracts
@model string
@inject IMapsService _mapsService;
@{
    Layout = "_MapLayout";
    ViewData["Title"] = "Map";
}

<head>
    <link rel="stylesheet" href="~/css/map.css" asp-append-version="true" />
</head>
<body>
    <script src="~/lib/d3/d3.js" asp-append-version="true"></script>
    <script src="~/js/d3/map.js" asp-append-version="true"></script>
    <component type="typeof(Map)" render-mode="ServerPrerendered" param-Id="Model" />
</body>
