@using MapLab.Web.Models.Maps
@using MapLab.Web.Models.Shared
@model MapsIndexViewModel
@{
    ViewData["Title"] = Model.IsCurrentProfile ? "My Maps" : Model.ProfileUserName + "'s Maps";
}

<div class="container py-4">
    <h1>@ViewData["Title"]</h1>
    <ul class="list-unstyled d-flex flex-wrap gap-3">
        @foreach (var map in Model.Maps!)
        {
            <li flex-item>
                <partial name="_MapCardPartial" model="@map" />
            </li>
        }
    </ul>
</div>

@if (Model.IsCurrentProfile) {
    string modalId = $"modal-{Guid.NewGuid().ToString()}";

    <button type="button" class="btn btn-primary floating-button" data-bs-toggle="modal" data-bs-target="#@modalId">
        <i class="bi bi-plus-lg"></i>
    </button>
    <component type="typeof(CreateMapModal)" render-mode="ServerPrerendered" param-Id="@modalId" />
}